@import "tailwindcss";

@theme {
  /* Mendaftarkan font yang tadi kita panggil di index.html */
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, -apple-system, sans-serif;
}

/* Mengatur dasar tampilan agar lebih halus */
body {
  font-family: var(--font-sans);
  background-color: #020617; /* Warna slate-950 agar tidak putih saat loading */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}